form > div{
    border: 2px solid gray;
    margin: 1%;
    padding: 1%;
}

input{
    height: 5%;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 5px;
}

.tfno, .email{
    width: auto;
    height: auto;
}

.submit{
    margin-left: 5%;
    font-size: x-large;
    width: 90%;
}

table,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

tr{
    border-top: 1px solid black;
}